@model Fundraiser.Models.HomeData

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row text-center">
    <br />
    <div class="progress" style="height:150px;">
        <div class="progress-bar progress-bar-success progress-bar-striped active" 
             role="progressbar" 
             aria-valuenow="@Model.TotalRaised" 
             aria-valuemin="0" 
             aria-valuemax="5000" 
             style="width: @((Model.TotalRaised/5000)*100)%; font-size: 80px; line-height:150px; text-align:center;">
            <span>@((int)((Model.TotalRaised / 5000) * 100))%</span>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <hr />
        <h1>Current Total Raised: @Model.TotalRaised.ToString("C2")</h1>
        <hr />
        <h1>Goal: $5000</h1>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function refresh() {
                console.log("Refreshing page.");
                location.reload();
            }

            setTimeout(refresh, 30000);
        });
    </script>
}
